<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <div th:insert="blocks/bootstrap :: bootstrap-head-link"></div>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div th:insert="blocks/navbar :: navbar"></div>
    <div class="container mt-5">
        <div class="form-group col-md-6">
            <form class="form-group row" method="get" action="/main">
                <input type="text" name="filter" th:value="${filter}"
                class="form-control" placeholder="Search by tag">
                <button class="btn btn-primary" type="submit">Find</button>
            </form>
        </div>
        <a class="btn btn-primary mt-3" data-toggle="collapse" href="#collapseExample" role="button"
        aria-expanded="false" aria-controls="collapseExample">
            Add new Message
        </a>
        <div class="collapse" id="collapseExample">
            <div class="form-group mt-3">
                <form method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="text" class="form-control" name="text" placeholder="type message" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="tag" placeholder="tag">
                    </div>
                    <div class="form-group">
                        <div class="custom-file">
                            <input type="file" name="file" id="customFile">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf" value="${_csrf.token}" />
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="mt-3"><h4>Message list</h4></div>
        <div class="card-columns">
            <div class="card my-3" th:each="message : ${messages}">
                <div class="card-img-top">
                    <img width="128px" height="128px"
                            th:src="'/img/' + (${message.filename} ?: 'no-photo-icon-5.jpg')">
                </div>
                <div class="m-2">
                    <span th:text="${message.text}" />
                    <i th:text="${message.tag}" />
                </div>
                <div class="card-footer text-muted">
                    <strong th:text="${message.authorName}" />
                </div>
            </div>
        </div>
    </div>
    <div th:insert="blocks/bootstrap :: bootstrap-body-js"></div>
</body>
</html>
