<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <div th:insert="blocks/bootstrap :: bootstrap-head-link"></div>
</head>
<body>
    <div th:insert="blocks/navbar :: navbar"></div>
    <div class="container mt-5">
        <h4>List of users</h4>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.username}"/>
                <td>
                    <div th:each="role : ${user.roles}">
                        <p th:text="${role}" />
                    </div>
                </td>
                <td>
                    <a th:href="'/user/' + ${user.id}" class="btn btn-warning">edit</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:insert="blocks/bootstrap :: bootstrap-body-js"></div>
</body>
</html>
